.nav-item{
    padding: 0px 20px ;
}

.quote{
    margin-bottom: -50px;;
}

/* Banner2.css */
.custom-card {
    min-height: 320px; /* Increased card height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

.card-title-banner2 {
    margin-top: -75px;
    margin-bottom: 45px;
    align-items: center;
   
}

